* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    overflow: hidden;
}

#slider {
    background-image: url('../img/slider2/parallax-4-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    &::after {
        content: "";
        background-color: rgba(67, 74, 84, 0.3);
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;          
    }
    p {
        font-size: 35px;
        font-weight: bold;
        text-align: left;
        color: #fff;
        position: absolute;
        left: 11%;
        z-index: 1;
    }
}

#header {
    display: flex;
    padding: 20px 50px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    background-color: rgba(0,0,0,0.12)
}

#header-menu {
    width: 350px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 9;
    overflow: scroll;
    right: 0;
    top: 0;
    
    .icon-close-hm {
        text-align: right;
        color: rgb(154,154,154);
        i {
            cursor: pointer;
            font-size: 25px;
            margin: 10px 10px 0 0;
        }
    }
    p {
        color: rgb(154,154,154);
        letter-spacing: 2px;
        text-align: center;
        line-height: 14px;
    }
    h1 {
        text-align: center;
        line-height: 38px;
        margin-bottom: 25px;
        u {
            font-size: 25px;
            color: #555555;
            position: relative;
            z-index: 9;
            text-decoration: none;
            
        }
        
    }
    .color-option-first ::after {
        background-color: #ffd105;
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        left: 0;
        bottom: 11px;
        z-index: -2;
        
    }
    .color-option-second ::after {
        background-color: #f3a46b;
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        left: 0;
        bottom: 11px;
        z-index: -9;
    }
    
    .option-item {
        display: flex;
        padding: 15px 30px;
        justify-content: space-between;
        
        &__img {
            img {
                width: 100px;
            }
        }
        &__info {
            width: 150px;
            a {
                text-decoration: none;
            }
            a img {
                width: 14px;
                height: 14px;
                margin-right: 5px;
            }
            a h3 {
                font-size: 20px;
                color: #555;
                font-weight: normal;
            }
            a h5 {
                font-size: 15px;
                color: #9a9a9a;
                font-weight: normal;
                line-height: 14px;
            }
            .item-info-sd-child {
                display: flex;
                letter-spacing: 2px;
                margin: 10px 0 20px 0;
            }
            .item-info {
                border-radius: 30px;
                padding: 5px 20px;
                line-height: 14px;
                color: #fff;
                letter-spacing: 1px;
            }
            .item-info--yellow {
                background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
            }
            .item-info--pink {
                background: linear-gradient(to right, #f76570 0%, #f78d65 100%)
            }
            .item-info--purple {
                background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
            }
            .item-info--green {
                background: linear-gradient(to right, #1bbc9b 0%, #1bbc63 100%);
            }
            .item-info--orange {
                background: linear-gradient(to right, #f3a46b 0%, #f3c96b 100%);
            }
            .item-info--blue {
                background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
            }

        }
    }
    .slider-header-menu {
        background-image: url('../img/slider/destination-9.jpg');
        background-size: cover;
        padding-top: 82%;
        margin: 35px 31px 40px 31px;
        position: relative;
        &:hover .overlay {
            opacity: 1;
        }
        .place-header-menu {
            background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            .img-place-hd-menu {
                padding: 30px;
                img {
                    width: 35px;
                }
            }
            .text-place-hd-menu {
                position: absolute;
                bottom: 0%;
                color: #fff;
                padding: 30px;
                h3 {
                    font-size: 20px;
                }
                h6 {
                    letter-spacing: 2px;
                    font-size: 13px;
                    font-weight: 100;
                }
            }
        }
        .overlay {
            background-color: #14b9d5;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 1s;
            opacity: 0;
            h3 {
                font-size: 20px;
                margin-bottom: 12px;
                color: #fff;
            }
            .link {
                font-size: 14px;
                margin-top: 8px;
                color: #fff;
            }
            a {
                text-decoration: none;
            }
            .btn {
                color: #14b9d5;
                background-color: #fff;
                font-size: 14px;
                line-height: 20px;
                padding: 5px 20px;
                border-radius: 30px;
                margin-top: 20px;
            }
        }
    }
}

#menu-min {
    display: none;
    width: 300px;
    height: 100%;
    color: #fff;
    background-color: #555555;
    position: fixed;
    z-index: 9;
    right: 0;
    top: 0;
    overflow: scroll;
    .icon-close {
        text-align: right;
        right: 20px;
        top: 20px;
   
        i {
            cursor: pointer;
            font-size: 22px;
            margin: 15px 20px 0 0;
        }
    }
    & > ul {
        padding: 0 40px 40px 40px;
        & > li {
            margin-bottom: 30px;
        }
        ul {
            padding-left: 20px;
        }
    }
    
    & > ul > li > a {
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0px;
    }

    ul {
        li {
            list-style-type: none;        
            a {
                color: #fff;
                text-decoration: none;
                letter-spacing: 2px;
            }
            .sub-menu-min a{
                line-height: 35px;
            }
        }
        
    }
    
}

.header-icon-menu {
    font-size: 27px;
    margin-top: 15px;
    cursor: pointer;
}

.logo-travel {
    width: 160px;
    cursor: pointer;
    margin-top: 10px;
}

#nav {
    display: flex;
    list-style-type: none;
    width: 100%;
    padding: 0 64px;
    white-space: nowrap;
}

#nav .nav__home a,
.hover-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    padding: 25px 15px;
    display: inline-block;
}

#nav .sub-nav li {
    padding: 15px 25px;
    border-bottom: 1px solid #f1f1f1;
    
}

#nav .hover-nav:hover > ul {
    display: block;
}

.sub-nav li:hover {
    background-color: #f9f9f9;
}

.relative > ul,
.about-us > ul,
.contact > ul,
.single-post > ul {
    background-color: #fff;
}    

.relative:hover ul,
.nav__pages .about-us:hover ul,
.nav__pages .contact:hover ul,
.nav__news .single-post:hover ul {
    display: block;
}

#nav .sub-nav a {
    color: #9a9a9a;
    padding: 0;
}

.nav__packages i,
.about-us i,
.contact i {
    font-size: 12px;
    margin-left: 10px;
}

.nav__packages > li > span {
    background-color: #f76570;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    padding: 4px 5px 2px;
    letter-spacing: 2px;
    margin-left: 24px;
}

.sub-nav {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    box-shadow: 0px 2px 5px #f1f1f1;
    width: 190px;
    display: none;
}

.relative,
.about-us,
.contact,
.single-post {
    position: relative;
}

.tour-package,
.page__about-us,
.page__contact,
.news__single-post {
    top: 0;
    padding-top: 0;
    position: absolute;
    box-shadow: 0px 2px 5px #f1f1f1;
    margin-left: 190px;
    display: none;
}

.tour-package::before,
.page__about-us::before,
.page__contact::before,
.news__single-post::before {
    content: "";
    display: block;
    position: absolute;
    height: 190px;
    width: 25px;
    left: -25px;
}

.tour-package li,
.about-us li,
.contact li,
.single-post li {
    display: block;
    border-bottom: 1px solid #f1f1f1;
    width: 190px;
}

.tour-package li span {
    background-color: #14b9d5;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    padding: 2px 5px;
    margin-left: 19px;
    padding-top: 4px;
    letter-spacing: 2px;
}

.nav__about-us > li > span {
    background-color: #1bbc9b;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    padding: 2px 5px;
    margin-left: 19px;
    padding-top: 4px;
    letter-spacing: 2px;
}

.book-now a {
    background-color: #ba71da;
    padding: 10px 15px 8px 15px;
    border-radius: 30px;
    margin-left: 25px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 13px;
}




.content {
    margin-top: 50px;
    p {
        color: #9a9a9a;
        font-size: 16px;
        line-height: 16px;
        margin: 20px 0 25px;
    }

    .card {
        margin-bottom: 45px;
    }
    .img-one {
        width: 100%;
        margin: auto;
    }
    h2 {
        font-size: 20px;
        line-height: 20px;
        margin: 15px 0 5px;
        font-weight: normal;
        color: #555555;
    }
    
    i {
        color: #9a9a9a;
        font-size: 12px;
        white-space: nowrap;
    }

    .card div:first-child {
        position: relative;
    }
    .card div:first-child span {
        position: absolute;
        text-align: center;
        background-color: #1bbc9b;
        color: #fff;
        font-size: 13px;
        z-index: 1;
        top: 13px;
        right: 13px;
        padding: 8px;
        line-height: 13px;
    }
    .card div:last-child a {
        text-decoration: none;
        font-size: 13px;
        line-height: 13px;
        color: #9a9a9a;
        font-weight: normal;
        border: 1px solid #f1f1f1;
        padding: .618em 1em;
        white-space: nowrap;
    }
    .price {
        margin: 20px 0 25px;
        line-height: 16px;
    }
    .price span:first-child {
        font-weight: normal;
        color: #dadada;
        font-size: 16px;
        text-decoration: line-through;
    }
    .price span:last-child {
        color: #9a9a9a;
        font-size: 16px;
        text-decoration: underline;
    }
    .padding-ct {
        padding: 0 20px;
    }
}


#footer {
    background-image: url('../img/slider/parallax-7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 5%;
    margin-top: 70px;
    & > .row {
        padding: 0 30px;
    }
}

.footer__top {
    margin-top: 80px;
    margin-bottom: 55px;
    h3 {
        color: #9a9a9a;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 2px;
        font-weight: normal;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0px;
        font-weight: bold;
    }
    .footer__top-text {
        margin-left: 200px;
        display: inline-block;
    }
    .footer__top-form {
        margin-top: 20px;
        margin-right: 200px;
        display: inline-block;
        float: right;
        .email {
            background-color: #f9f9f9;
            border-radius: 30px;
            padding: 14px 50px;
            color: #a3a3a3;
            border: none;
            outline: none;
            margin-right: 20px;
        }
        .submit {
            background-color: #14b9d5;
            border-radius: 30px;
            padding: 14px 30px;
            color: #ffffff;
            cursor: pointer;
            border: none;
        }
    }    
}

.row {
    .footer__between {
        display: flex;
        background-color: #fff;
        padding: 45px;
        .footer__between-sub {
            width: 50%;
            padding-right: 44px;
            margin-top: 5px;
            p {
                font-size: 14px;
                color: #9a9a9a;
                margin: 25px 0;
                line-height: 25px;
                letter-spacing: 1px;
            }
            a {
                margin-right: 20px;
                text-decoration: none;
                img {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    
        .footer__between-list {
            width: 50%;
            display: flex;
            h6 {
                font-size: 14px;
                color: #555555;
                letter-spacing: 2px;
                font-weight: bold;
                margin-bottom: 35px;
                margin-top: 15px;
            }
            p {
                font-size: 14px;
                color: #9a9a9a;
                line-height: 27px;
                letter-spacing: 2px;
            }
        }
        p {        
            img {
                width: 10px;
                height: 10px;
                margin-right: 5px;
            }
        }
        .footer-logo-travel {
            width: 160px;
            cursor: pointer; 
        }
    }       
    .footer__bottom {
            display: flex;
            background-color: #14b9d5;
            h6 {
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 2px;
                font-weight: normal;
                color: #fff;
            }
            div:first-child {
                width: 50%;
                padding: 20px;
            }
            div:last-child {
                width: 50%;
                padding: 20px;
                h6 {
                    float: right;
                }
            }
    }   
}

.buy-now {
    position: fixed;
    right: 30px;
    bottom: 30px;
    & > span {
        top: 1px;
        left: 5px;
        font-size: 8px;
        line-height: 10px;
        padding: 3px 5px;
        background-color: #f76570;
        position: absolute;
        letter-spacing: 1px;
        white-space: nowrap;
        z-index: 1;
        color: #fff;
    }
    a {
        background-color: #555555;
        box-shadow: 0px 0px 20px rgba(0,0,0,.15);
        width: 65px;
        height: 65px;
        border-radius: 50%;
        text-decoration: none;
        display: table;
        span:first-child {
            line-height: 8px;
            font-size: 8px;
            left: 13px;
            top: 22px;
            left: 13px;
            position: absolute;
            color: #fff;
        }
        span:last-child {
            font-size: 25px;
            left: 18px;
            top: 25px;
            position: absolute;
            color: #fff; 
            line-height: 25px;
        }
    }
}

.img-fixed {
    position: fixed;
    right: 80px;
    bottom: 30px;
    a {
        width: 35px;
        height: 35px;
        background-color: #555555;
        box-shadow: 0px 0px 20px rgba(0,0,0,.15);
        text-decoration: none;
        float: left;
        border-radius: 50%;
        img {
            left: 10px;
            top: 10px;
            position: absolute;
            width: 15px;
        }
    }
}

@media (max-width:1239px) and (min-width:1024px) {
    #header {
        position: relative;
        flex-direction: column;
        align-items: center;
        background-color: #555555;
        .header-menu {
            margin-top: 10px;
            line-height: 27px;
        }
    }

    #nav {
        display: none;
    }

    #slider {
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .row .footer__bottom div:first-child {
        width: 100%;
        text-align: center;
    }
    .row .footer__bottom div:last-child {
        width: 100%;
        h6 {
            float: none;
            text-align: center;
        }        
    }

    .row .footer__top {
        width: 100%;
        .footer__top-text {
            margin-left: 0;
        }
        .footer__top-form {
            width: 100%;
            margin-right: 0;
            .email {
                width: 71%;
            }
            .submit {
                width: 25%;
            }
        }
    }
    .row .footer__between {
        padding: 45px;
        .footer__between-sub {
            width: 100%;
        }
        .footer__between-list {
            flex-direction: column;
        }
    }

    .buy-now, .img-fixed {
        display: none;
    }
}


@media (min-width: 740px) and  (max-width: 1023px) {
    #header {
        position: relative;
        flex-direction: column;
        align-items: center;
        background-color: #555555;
        .header-menu {
            margin-top: 10px;
            line-height: 27px;
        }
    }

    #nav {
        display: none;
    }

    #slider {
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .content {
        .padding-ct {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .footer__top {
        width: 100%;
        .footer__top-text {
            margin-left: 0;
        }
        .footer__top-form {
            width: 100%;
            margin-right: 0;
            .email {
                width: 71%;
            }
            .submit {
                width: 25%;
            }
        }
    }
    .row .footer__between {
        flex-direction: column;
        padding: 45px;
        .footer__between-sub {
            width: 100%;
        }
        .footer__between-list {
            flex-direction: column;
        }
    }

    .row {
        .footer__bottom {
            flex-direction: column;
            width: 100%;
        }
        .footer__bottom div:first-child {
        width: 100%;
        text-align: center;
        }
        .footer__bottom div:last-child {
            width: 100%;
            h6 {
                float: none;
                text-align: center;
            }  
        }
    }

    .buy-now, .img-fixed {
        display: none;
    }
}

@media (max-width: 740px) {
    #header {
        position: relative;
        flex-direction: column;
        align-items: center;
        background-color: #555555;
        .header-menu {
            margin-top: 10px;
            line-height: 27px;
        }
    }

    #nav {
        display: none;
    }

    #slider {
        padding-top: 22%;
        padding-bottom: 22%;
    }

    .content .padding-ct {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    #footer {
        .row {
            padding: 0 30px;
            .footer__between .footer__between-list {
                padding: 0;
            }
        }
    }

    .footer__top {
        .footer__top-text {
            margin-left: 0;
            width: 100%;
        }
        .footer__top-form {
            float: none;
            margin-right: 0;
            width: 100%;
            .email {
                width: 100%;
            }
            .submit {
                width: 100%;
            }
        }
    }

    .row .footer__between {
        flex-direction: column;
        padding: 45px 0 45px 45px;
        .footer__between-sub {
            width: 100%;
        }
        .footer__between-list {
            flex-direction: column;
            width: 100%;
        }
    }

    .row {
        .footer__bottom {
            flex-direction: column;
            width: 100%;
        }
        .footer__bottom div:first-child {
            width: 100%;
            text-align: center;
        }
        .footer__bottom div:last-child {
            width: 100%;
            h6 {
                float: none;
                text-align: center;
            }  
        }
    }

    .buy-now, .img-fixed {
        display: none;
    }
}
