.content__grid-one {
  margin-top: 60px; }
  .content__grid-one .text-content-one {
    text-align: center;
    line-height: 50px; }
    .content__grid-one .text-content-one p {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 2px;
      color: #9a9a9a;
      margin-bottom: 20px; }
    .content__grid-one .text-content-one h1 {
      margin-bottom: 35px;
      font-weight: 700;
      color: #555555;
      font-size: 36px; }
    .content__grid-one .text-content-one u {
      position: relative;
      text-decoration: none;
      z-index: 1; }
      .content__grid-one .text-content-one u::after {
        background-color: #1bbc9b;
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        left: 0;
        bottom: 10px;
        z-index: -1; }
  .content__grid-one .slider-content-one .col img {
    width: 100%;
    margin: auto;
    object-fit: cover; }
  .content__grid-one .slider-content-one .col .item {
    margin-bottom: 30px;
    position: relative; }
    .content__grid-one .slider-content-one .col .item:hover .overlay {
      opacity: 1; }
  .content__grid-one .slider-content-one .col .img-first {
    background-image: url("../img/slider/destination-9.jpg");
    background-size: cover;
    padding-top: 100%; }
  .content__grid-one .slider-content-one .col .img-second {
    background-image: url("../img/slider/destination-5-720x720.jpg");
    background-size: cover;
    padding-top: 100%; }
  .content__grid-one .slider-content-one .col .img-third {
    background-image: url("../img/slider/destination-8.jpg");
    background-size: cover;
    padding-top: 100%; }
  .content__grid-one .slider-content-one .col .img-fourth {
    background-image: url("../img/slider/destination-10.jpg");
    background-size: cover;
    padding-top: 100%; }
  .content__grid-one .slider-content-one .col .img-fifth {
    background-image: url("../img/slider/destination-11.jpg");
    background-size: cover;
    padding-top: 100%; }
  .content__grid-one .slider-content-one .col .img-sixth {
    background-image: url("../img/slider/destination-1-1-720x720.jpg");
    background-size: cover;
    padding-top: 100%; }
  .content__grid-one .slider-content-one .col .item__one {
    background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0; }
  .content__grid-one .slider-content-one .col .item-content {
    padding: 30px; }
    .content__grid-one .slider-content-one .col .item-content img {
      width: 35px; }
    .content__grid-one .slider-content-one .col .item-content h3 {
      font-size: 20px; }
    .content__grid-one .slider-content-one .col .item-content h6 {
      letter-spacing: 2px;
      font-size: 13px;
      font-weight: 100; }
  .content__grid-one .slider-content-one .col .text-place {
    position: absolute;
    bottom: 0%;
    color: #fff; }
  .content__grid-one .slider-content-one .col .overlay {
    background-color: #14b9d5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    opacity: 0; }
  .content__grid-one .slider-content-one .col .overlay a {
    text-decoration: none; }
  .content__grid-one .slider-content-one .col .overlay h3 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #fff; }
  .content__grid-one .slider-content-one .col .overlay .link {
    font-size: 14px;
    margin-top: 8px;
    color: #fff; }
  .content__grid-one .slider-content-one .col .overlay .btn {
    color: #14b9d5;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 20px;
    border-radius: 30px;
    margin-top: 20px; }

.slider-content-two {
  margin-top: 60px;
  background-image: url("../img/slider/parallax-search-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 17%;
  position: relative; }
  .slider-content-two .item__two {
    color: #fff;
    position: absolute;
    top: 28%;
    right: 55%; }
    .slider-content-two .item__two h2 {
      font-size: 45px;
      line-height: 40px; }
    .slider-content-two .item__two h1 {
      font-size: 50px;
      line-height: 60px; }
      .slider-content-two .item__two h1 u {
        position: relative;
        text-decoration: none;
        z-index: 1; }
      .slider-content-two .item__two h1 u::after {
        background-color: #f76570;
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        left: 0;
        bottom: 12px;
        z-index: -1; }
  .slider-content-two .item__two-btn {
    border-radius: 38px;
    letter-spacing: 2px;
    line-height: 14px;
    font-size: 14px;
    background-color: #ffffff;
    padding: 15px 35px;
    color: #f76570;
    position: absolute;
    top: 40%;
    text-decoration: none;
    left: 56%; }

.slider-content-three {
  margin-top: 80px; }
  .slider-content-three .col:last-child {
    position: relative; }
  .slider-content-three .col h3 {
    font-size: 14px;
    color: #9a9a9a;
    font-weight: normal;
    letter-spacing: 2px; }
  .slider-content-three .col p {
    font-size: 14px;
    color: #9a9a9a;
    margin: 20px 0;
    line-height: 25px;
    letter-spacing: 1px; }
  .slider-content-three .col > h1 {
    font-size: 36px;
    color: #555555;
    margin-bottom: 20px; }
    .slider-content-three .col > h1 u {
      position: relative;
      text-decoration: none;
      z-index: 1; }
    .slider-content-three .col > h1 u::after {
      background-color: #14b9d5;
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      left: 0;
      bottom: 10px;
      z-index: -1; }
  .slider-content-three .col h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 30px; }
  .slider-content-three .col .book-now {
    border-radius: 38px;
    letter-spacing: 2px;
    line-height: 14px;
    font-size: 14px;
    background-color: #1bbc9b;
    padding: 15px 35px;
    color: #ffffff;
    text-decoration: none; }
  .slider-content-three .col .item__three {
    background-image: url("../img/slider/package-3.jpg");
    padding-top: 54%;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    background-repeat: no-repeat;
    height: 100%; }
  .slider-content-three .col .item__four {
    position: absolute;
    text-align: center;
    display: flex;
    top: 87%;
    width: 100%;
    justify-content: center; }
  .slider-content-three .col .item__four-time {
    color: #fff;
    background-color: #14b9d5;
    display: inline-block;
    width: 16.66666%;
    height: 114px; }
    .slider-content-three .col .item__four-time h1 {
      font-size: 35px;
      font-weight: normal;
      margin-top: 21px;
      line-height: 48px; }
    .slider-content-three .col .item__four-time h6 {
      font-size: 13px;
      font-weight: normal; }
  .slider-content-three .col .days::after,
  .slider-content-three .col .hours::after,
  .slider-content-three .col .minutes::after {
    position: relative;
    content: "/";
    font-size: 40px;
    color: #000;
    opacity: 0.05;
    font-weight: 400;
    z-index: 9;
    line-height: 60px;
    bottom: 50%;
    left: 50%; }

.slider-content-four {
  margin-top: 100px; }
  .slider-content-four .tour {
    display: flex; }
    .slider-content-four .tour img {
      width: 50px;
      height: 50px; }
    .slider-content-four .tour h3 {
      font-size: 24px; }
    .slider-content-four .tour p {
      font-size: 14px;
      color: #9a9a9a;
      margin: 20px 0;
      line-height: 25px;
      letter-spacing: 1px; }
    .slider-content-four .tour a {
      text-decoration: none;
      font-size: 14px;
      line-height: 14px;
      color: #14b9d5; }
    .slider-content-four .tour div {
      margin-left: 20px; }

.slider-content-five {
  margin-top: 65px;
  display: flex; }
  .slider-content-five .item__five {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../img/slider/parallax-5-filter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%; }
    .slider-content-five .item__five div:last-child {
      margin-top: 37px;
      align-items: center;
      text-align: center; }
  .slider-content-five .item__six {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../img/slider/parallax-6-filter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%; }
    .slider-content-five .item__six div:last-child {
      margin-top: 37px;
      align-items: center;
      text-align: center; }
  .slider-content-five h3 {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: normal; }
  .slider-content-five h2 {
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    font-weight: bold; }
  .slider-content-five a {
    border-radius: 38px;
    letter-spacing: 2px;
    line-height: 14px;
    font-size: 14px;
    background-color: #ffffff;
    padding: 15px 35px;
    text-decoration: none; }
  .slider-content-five .item__five-color-one {
    color: #f3a46b; }
  .slider-content-five .item__five-color-two {
    color: #1bbc9b; }

.content__grid-two {
  margin-top: 63px; }
  .content__grid-two .text-content-two {
    text-align: center;
    line-height: 50px; }
    .content__grid-two .text-content-two p {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 2px;
      color: #9a9a9a;
      margin-bottom: 20px; }
    .content__grid-two .text-content-two h1 {
      margin-bottom: 35px;
      font-weight: 700;
      color: #555555;
      font-size: 36px; }
    .content__grid-two .text-content-two u {
      position: relative;
      text-decoration: none;
      z-index: 1; }
      .content__grid-two .text-content-two u::after {
        background-color: #1bbc9b;
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        left: 0;
        bottom: 10px;
        z-index: -1; }
  .content__grid-two .slider-content-six .border--yellow .item__seven-bg {
    background: -webkit-linear-gradient(left, #ffd205 0%, #ff9b05 100%); }
  .content__grid-two .slider-content-six .border--yellow .item__ten-content-one span,
  .content__grid-two .slider-content-six .border--yellow .item__eight > a {
    background-color: #ffd205; }
  .content__grid-two .slider-content-six .border--pink .item__seven-bg {
    background: -webkit-linear-gradient(left, #f76570 0%, #f78d65 100%); }
  .content__grid-two .slider-content-six .border--pink .item__ten-content-one span,
  .content__grid-two .slider-content-six .border--pink .item__eight > a {
    background-color: #f76570; }
  .content__grid-two .slider-content-six .border--purple .item__seven-bg {
    background: -webkit-linear-gradient(left, #ba71da 0%, #da717b 100%); }
  .content__grid-two .slider-content-six .border--purple .item__ten-content-one span,
  .content__grid-two .slider-content-six .border--purple .item__eight > a {
    background-color: #ba71da; }
  .content__grid-two .slider-content-six a {
    text-decoration: none; }
  .content__grid-two .slider-content-six .item__seven {
    position: relative; }
  .content__grid-two .slider-content-six .item__seven > img {
    width: 100%;
    margin: auto; }
  .content__grid-two .slider-content-six .item__seven .item__seven-bg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: -18px;
    right: 20px; }
    .content__grid-two .slider-content-six .item__seven .item__seven-bg img {
      width: 26px;
      height: 26px;
      position: absolute;
      top: 12px;
      left: 12px; }
  .content__grid-two .slider-content-six .item__seven .item__seven-special {
    position: absolute;
    background-color: #555555;
    border-radius: 30px;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    padding: 4px 12px;
    right: 20px;
    top: 20px; }
  .content__grid-two .slider-content-six .item__eight {
    padding: 30px; }
    .content__grid-two .slider-content-six .item__eight > a {
      border-radius: 30px;
      padding: 5px 20px;
      color: #fff; }
  .content__grid-two .slider-content-six .item__night {
    margin-bottom: 20px; }
    .content__grid-two .slider-content-six .item__night h3 {
      font-size: 20px;
      color: #555555; }
    .content__grid-two .slider-content-six .item__night img {
      width: 14px;
      height: 14px;
      margin-right: 10px; }
    .content__grid-two .slider-content-six .item__night h5 {
      font-weight: normal;
      font-size: 15px;
      letter-spacing: 2px;
      line-height: 15px; }
  .content__grid-two .slider-content-six .item__night a:last-child {
    display: flex;
    color: #9a9a9a;
    margin-top: 5px; }
  .content__grid-two .slider-content-six .item__ten {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    display: flex; }
    .content__grid-two .slider-content-six .item__ten h6 {
      color: #555555;
      font-size: 13px;
      font-weight: normal; }
    .content__grid-two .slider-content-six .item__ten .item__ten-content-one {
      width: 50%; }
      .content__grid-two .slider-content-six .item__ten .item__ten-content-one div:first-child {
        margin-top: 15px; }
      .content__grid-two .slider-content-six .item__ten .item__ten-content-one div:last-child {
        margin-bottom: 14px; }
        .content__grid-two .slider-content-six .item__ten .item__ten-content-one div:last-child h6 {
          display: inline-block; }
      .content__grid-two .slider-content-six .item__ten .item__ten-content-one span {
        border-radius: 30px;
        line-height: 14px;
        font-size: 10px;
        padding: 1px 10px;
        color: #fff;
        margin-left: 5px; }
    .content__grid-two .slider-content-six .item__ten .item__ten-content-two {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .content__grid-two .slider-content-six .item__ten .item__ten-content-two .one-ts {
        text-decoration: line-through;
        font-size: 20px;
        line-height: 20px;
        color: #9a9a9a;
        font-weight: normal; }
      .content__grid-two .slider-content-six .item__ten .item__ten-content-two span, .content__grid-two .slider-content-six .item__ten .item__ten-content-two h2 {
        font-size: 25px;
        color: #555555;
        font-weight: normal; }
  .content__grid-two .slider-content-six p {
    font-size: 14px;
    color: #9a9a9a;
    margin: 20px 0;
    line-height: 25px;
    letter-spacing: 1px; }
  .content__grid-two .slider-content-six .border {
    border: 1px solid #f1f1f1; }

#header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 20px 50px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0; }

#header-menu {
  width: 350px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 9;
  overflow: scroll;
  right: 0;
  top: 0;
  display: none; }
  #header-menu .icon-close-hm {
    text-align: right;
    color: #9a9a9a; }
    #header-menu .icon-close-hm i {
      cursor: pointer;
      font-size: 25px;
      margin: 10px 10px 0 0; }
  #header-menu p {
    color: #9a9a9a;
    letter-spacing: 2px;
    text-align: center;
    line-height: 14px; }
  #header-menu h1 {
    text-align: center;
    line-height: 38px;
    margin-bottom: 25px; }
    #header-menu h1 u {
      font-size: 25px;
      color: #555555;
      position: relative;
      z-index: 9;
      text-decoration: none; }
  #header-menu .color-option-first ::after {
    background-color: #ffd105;
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 11px;
    z-index: -2; }
  #header-menu .color-option-second ::after {
    background-color: #f3a46b;
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 11px;
    z-index: -9; }
  #header-menu .option-item {
    display: flex;
    padding: 15px 30px;
    justify-content: space-between; }
    #header-menu .option-item__img img {
      width: 100px; }
    #header-menu .option-item__info {
      width: 150px; }
      #header-menu .option-item__info a {
        text-decoration: none; }
      #header-menu .option-item__info a img {
        width: 14px;
        height: 14px;
        margin-right: 5px; }
      #header-menu .option-item__info a h3 {
        font-size: 20px;
        color: #555;
        font-weight: normal; }
      #header-menu .option-item__info a h5 {
        font-size: 15px;
        color: #9a9a9a;
        font-weight: normal;
        line-height: 14px; }
      #header-menu .option-item__info .item-info-sd-child {
        display: flex;
        letter-spacing: 2px;
        margin: 10px 0 20px 0; }
      #header-menu .option-item__info .item-info {
        border-radius: 30px;
        padding: 5px 20px;
        line-height: 14px;
        color: #fff;
        letter-spacing: 1px; }
      #header-menu .option-item__info .item-info--yellow {
        background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%); }
      #header-menu .option-item__info .item-info--pink {
        background: linear-gradient(to right, #f76570 0%, #f78d65 100%); }
      #header-menu .option-item__info .item-info--purple {
        background: linear-gradient(to right, #ba71da 0%, #da717b 100%); }
      #header-menu .option-item__info .item-info--green {
        background: linear-gradient(to right, #1bbc9b 0%, #1bbc63 100%); }
      #header-menu .option-item__info .item-info--orange {
        background: linear-gradient(to right, #f3a46b 0%, #f3c96b 100%); }
      #header-menu .option-item__info .item-info--blue {
        background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%); }
  #header-menu .slider-header-menu {
    background-image: url("../img/slider/destination-9.jpg");
    background-size: cover;
    padding-top: 82%;
    margin: 35px 31px 40px 31px;
    position: relative; }
    #header-menu .slider-header-menu:hover .overlay {
      opacity: 1; }
    #header-menu .slider-header-menu .place-header-menu {
      background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0; }
      #header-menu .slider-header-menu .place-header-menu .img-place-hd-menu {
        padding: 30px; }
        #header-menu .slider-header-menu .place-header-menu .img-place-hd-menu img {
          width: 35px; }
      #header-menu .slider-header-menu .place-header-menu .text-place-hd-menu {
        position: absolute;
        bottom: 0%;
        color: #fff;
        padding: 30px; }
        #header-menu .slider-header-menu .place-header-menu .text-place-hd-menu h3 {
          font-size: 20px; }
        #header-menu .slider-header-menu .place-header-menu .text-place-hd-menu h6 {
          letter-spacing: 2px;
          font-size: 13px;
          font-weight: 100; }
    #header-menu .slider-header-menu .overlay {
      background-color: #14b9d5;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 1s;
      opacity: 0; }
      #header-menu .slider-header-menu .overlay h3 {
        font-size: 20px;
        margin-bottom: 12px;
        color: #fff; }
      #header-menu .slider-header-menu .overlay .link {
        font-size: 14px;
        margin-top: 8px;
        color: #fff; }
      #header-menu .slider-header-menu .overlay a {
        text-decoration: none; }
      #header-menu .slider-header-menu .overlay .btn {
        color: #14b9d5;
        background-color: #fff;
        font-size: 14px;
        line-height: 20px;
        padding: 5px 20px;
        border-radius: 30px;
        margin-top: 20px; }

#menu-min {
  display: none;
  width: 300px;
  height: 100%;
  color: #fff;
  background-color: #555555;
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  overflow: scroll; }
  #menu-min .icon-close {
    text-align: right;
    right: 20px;
    top: 20px; }
    #menu-min .icon-close i {
      cursor: pointer;
      font-size: 22px;
      margin: 15px 20px 0 0; }
  #menu-min > ul {
    padding: 0 40px 40px 40px; }
    #menu-min > ul > li {
      margin-bottom: 30px; }
    #menu-min > ul ul {
      padding-left: 20px; }
  #menu-min > ul > li > a {
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0px; }
  #menu-min ul li {
    list-style-type: none; }
    #menu-min ul li a {
      color: #fff;
      text-decoration: none;
      letter-spacing: 2px; }
    #menu-min ul li .sub-menu-min a {
      line-height: 35px; }

.header-menu {
  font-size: 27px;
  margin-top: 15px;
  cursor: pointer; }

#nav {
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 0 64px;
  white-space: nowrap; }

.logo-travel {
  width: 160px;
  cursor: pointer;
  margin-top: 10px; }

#nav .nav__home a,
.hover-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  padding: 25px 15px;
  display: inline-block; }

#nav .sub-nav li {
  padding: 15px 25px;
  border-bottom: 1px solid #f1f1f1; }

#nav .hover-nav:hover > ul {
  display: block; }

.sub-nav li:hover {
  background-color: #f9f9f9; }

.relative > ul,
.about-us > ul,
.contact > ul,
.single-post > ul {
  background-color: #fff; }

.relative:hover ul,
.nav__pages .about-us:hover ul,
.nav__pages .contact:hover ul,
.nav__news .single-post:hover ul {
  display: block; }

#nav .sub-nav a {
  color: #9a9a9a;
  padding: 0; }

.nav__packages i,
.about-us i,
.contact i {
  font-size: 12px;
  margin-left: 10px; }

.nav__packages > li > span {
  background-color: #f76570;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  padding: 4px 5px 2px;
  letter-spacing: 2px;
  margin-left: 24px; }

.sub-nav {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  box-shadow: 0px 2px 5px #f1f1f1;
  width: 190px;
  display: none; }

.relative,
.about-us,
.contact,
.single-post {
  position: relative; }

.tour-package,
.page__about-us,
.page__contact,
.news__single-post {
  top: 0;
  padding-top: 0;
  position: absolute;
  box-shadow: 0px 2px 5px #f1f1f1;
  margin-left: 190px;
  display: none; }

.tour-package::before,
.page__about-us::before,
.page__contact::before,
.news__single-post::before {
  content: "";
  display: block;
  position: absolute;
  height: 190px;
  width: 25px;
  left: -25px; }

.tour-package li,
.about-us li,
.contact li,
.single-post li {
  display: block;
  border-bottom: 1px solid #f1f1f1;
  width: 190px; }

.tour-package li span {
  background-color: #14b9d5;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px;
  margin-left: 19px;
  padding-top: 4px;
  letter-spacing: 2px; }

.nav__about-us > li > span {
  background-color: #1bbc9b;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px;
  margin-left: 19px;
  padding-top: 4px;
  letter-spacing: 2px; }

.book-now a {
  background-color: #ba71da;
  padding: 10px 15px 8px 15px;
  border-radius: 30px;
  margin-left: 25px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 13px; }

#footer {
  background-image: url("../img/slider/parallax-7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 80px;
  margin-top: 70px; }
  #footer > .row {
    padding: 0 30px; }

.footer__top {
  margin-top: 80px;
  margin-bottom: 55px; }
  .footer__top h3 {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 20px; }
  .footer__top h2 {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: bold; }
  .footer__top .footer__top-text {
    margin-left: 200px;
    display: inline-block; }
  .footer__top .footer__top-form {
    margin-top: 20px;
    margin-right: 200px;
    display: inline-block;
    float: right; }
    .footer__top .footer__top-form .email {
      background-color: #f9f9f9;
      border-radius: 30px;
      padding: 14px 50px;
      color: #a3a3a3;
      border: none;
      outline: none;
      margin-right: 20px; }
    .footer__top .footer__top-form .submit {
      background-color: #14b9d5;
      border-radius: 30px;
      padding: 14px 30px;
      color: #ffffff;
      cursor: pointer;
      border: none; }

.row .footer__between {
  display: flex;
  background-color: #fff;
  padding: 45px; }
  .row .footer__between .footer__between-sub {
    width: 50%;
    padding-right: 44px;
    margin-top: 5px; }
    .row .footer__between .footer__between-sub p {
      font-size: 14px;
      color: #9a9a9a;
      margin: 25px 0;
      line-height: 25px;
      letter-spacing: 1px; }
    .row .footer__between .footer__between-sub a {
      margin-right: 20px;
      text-decoration: none; }
      .row .footer__between .footer__between-sub a img {
        width: 22px;
        height: 22px; }
  .row .footer__between .footer__between-list {
    width: 50%;
    display: flex; }
    .row .footer__between .footer__between-list h6 {
      font-size: 14px;
      color: #555555;
      letter-spacing: 2px;
      font-weight: bold;
      margin-bottom: 35px;
      margin-top: 15px; }
    .row .footer__between .footer__between-list p {
      font-size: 14px;
      color: #9a9a9a;
      line-height: 27px;
      letter-spacing: 2px; }
  .row .footer__between p img {
    width: 10px;
    height: 10px;
    margin-right: 5px; }
  .row .footer__between .footer-logo-travel {
    width: 160px;
    cursor: pointer; }

.row .footer__bottom {
  display: flex;
  background-color: #14b9d5; }
  .row .footer__bottom h6 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #fff; }
  .row .footer__bottom div:first-child {
    width: 50%;
    padding: 20px; }
  .row .footer__bottom div:last-child {
    width: 50%;
    padding: 20px; }
    .row .footer__bottom div:last-child h6 {
      float: right; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

#wrapper {
  overflow: hidden; }

.slider {
  background-image: url("../img/slider/parallax-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 136%;
  width: 100%;
  padding-top: 60%;
  padding-right: 20px;
  position: relative; }

.slider::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(to bottom, #656460 0%, rgba(101, 100, 96, 0.5) 0%, rgba(101, 100, 96, 0) 50%, rgba(101, 100, 96, 0.5) 100%); }

.slider__content {
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 2;
  text-align: center; }
  .slider__content .slider-first {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    z-index: 1; }
  .slider__content .slider-first u {
    position: relative;
    text-decoration: none;
    z-index: 1; }
  .slider__content .slider-first u::after {
    background-color: #ba71da;
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 12px;
    z-index: -1; }
  .slider__content .slider-second {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 4px;
    font-weight: normal;
    margin-top: 35px; }
  .slider__content .form {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    position: relative;
    display: inline-block; }
  .slider__content .slider-select {
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 30px;
    padding: 10px 20px;
    color: #a3a3a3;
    appearance: none;
    width: 360px;
    height: 45px;
    font-size: 16px;
    outline: none;
    border: none;
    display: block; }
  .slider__content .ti-search {
    position: absolute;
    right: 20px;
    font-size: 18px;
    color: #a3a3a3;
    top: 14px; }
  .slider__content .slider-third {
    display: flex;
    justify-content: center;
    margin-top: 55px; }
  .slider__content .slider-img {
    padding: 20px;
    background: rgba(0, 0, 0, 0.21);
    width: 110px;
    height: 100px;
    text-align: center;
    margin: 15px 15px; }
  .slider__content .slider-img a {
    text-decoration: none;
    color: #fff; }
  .slider__content .slider-img p {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: normal; }
  .slider__content .buy-now {
    position: fixed;
    right: 30px;
    bottom: 30px; }
    .slider__content .buy-now > span {
      top: 1px;
      left: 5px;
      font-size: 8px;
      line-height: 10px;
      padding: 3px 5px;
      background-color: #f76570;
      position: absolute;
      letter-spacing: 1px;
      white-space: nowrap;
      z-index: 1;
      color: #fff; }
    .slider__content .buy-now a {
      background-color: #555555;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
      width: 65px;
      height: 65px;
      border-radius: 50%;
      text-decoration: none;
      display: table; }
      .slider__content .buy-now a span:first-child {
        line-height: 8px;
        font-size: 8px;
        left: 13px;
        top: 22px;
        left: 13px;
        position: absolute;
        color: #fff; }
      .slider__content .buy-now a span:last-child {
        font-size: 25px;
        left: 18px;
        top: 25px;
        position: absolute;
        color: #fff;
        line-height: 25px; }

.buy-now {
  position: fixed;
  right: 30px;
  bottom: 30px; }
  .buy-now > span {
    top: 1px;
    left: 5px;
    font-size: 8px;
    line-height: 10px;
    padding: 3px 5px;
    background-color: #f76570;
    position: absolute;
    letter-spacing: 1px;
    white-space: nowrap;
    z-index: 1;
    color: #fff; }
  .buy-now a {
    background-color: #555555;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-decoration: none;
    display: table; }
    .buy-now a span:first-child {
      line-height: 8px;
      font-size: 8px;
      left: 13px;
      top: 22px;
      left: 13px;
      position: absolute;
      color: #fff; }
    .buy-now a span:last-child {
      font-size: 25px;
      left: 18px;
      top: 25px;
      position: absolute;
      color: #fff;
      line-height: 25px; }

.img-fixed {
  position: fixed;
  right: 80px;
  bottom: 30px; }
  .img-fixed a {
    width: 35px;
    height: 35px;
    background-color: #555555;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    float: left;
    border-radius: 50%; }
    .img-fixed a img {
      left: 10px;
      top: 10px;
      position: absolute;
      width: 15px; }
